:root {
  color-scheme: light;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Regular";
  src: url("/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

body {
  font: 110%/1.5 "Figtree", sans-serif;
  margin: 0;
  background-color: transparent;
  color: #463f3a;
  overflow-y: scroll;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -998;
  backdrop-filter: blur(10px);
  pointer-events: none;
}

section {
  padding: 0 10vw;
  height: fit-content;
}

#front-page {
  height: 60vh;
}

.panel {
  border-radius: 1em;
  font-family: inherit;
  /* #BCB8B1 at 40% opacity */
  background-color: rgba(188, 184, 177, 0.4);
  padding: 1em;
}

#header {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 70vh;
  gap: 6em;
  width: 100%;

  #name-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column-start: 2;
    height: 20vh;
    justify-content: space-evenly;
    align-self: center;
  }

  #fullname {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  .title {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

img {
  box-shadow: 0 0 5px 2px lightgray;
}

#avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 100%;
  object-fit: cover;
  grid-column-start: 1;
}

.button-panel {
  position: relative;
  display: flex;
  gap: 1em;
  background: transparent;
  flex-direction: row;

  .lucide {
    padding: 0.5em;
    stroke: #463f3a;
  }
}

#navigation {
  position: sticky;
  flex-direction: column;
  z-index: 2;
  top: 1em;
  left: 1em;
  width: fit-content;
}

.link {
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: center;
  border: 2px solid #463f3a;
  background-color: transparent;
  border-radius: 24px;
  min-width: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button-label {
  position: absolute;
  display: none;
  left: -600%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  align-self: center;
  padding: 0.5em 0.5em 0.5em 0;
}

#creations-button {
  position: relative;
  min-width: 8em;
  padding: 0.5em 0;
  align-self: center;
}

#view-projects-arrow {
  position: absolute;
  left: -110%;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #463f3a;
}

#view-projects-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  align-self: center;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #463f3a;
}

#about-sections {
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img-container {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(6,1fr);
  position: relative;
  max-width: 30vw;
}

#design-img-container {
  min-height: 20vw;
}

.about-img {
  border-radius: 8px;
  max-width: 100%;
}

#figma-img {
  transform: rotate(-10deg);
  grid-row: 1 / span 4;
  grid-column: 1 / span 6;
  z-index: 2;
}

#typing-test-img {
  transform: rotate(10deg);
  grid-row: 2 / span 5;
  grid-column: 3 / span 6;
}

#data-cleaning-img {
  z-index: 3;
  transform: rotate(15deg);
  grid-row: 3 / span 3;
  grid-column: 5 / span 4;
}

#sql-img {
  transform: rotate(-15deg);
  z-index: 2;
  grid-row: 4 / span 3;
  grid-column: 1 / span 4;
}

#portfolio-code-img {
  transform: rotate(-5deg);
  grid-row: 1 / span 6;
  grid-column: 2 / span 5;
}

#excel-img {
  transform: rotate(10deg);
  z-index: 2;
  grid-row: 3 / span 2;
  grid-column: 3 / span 7;
}

#basketball-analysis-img {
  transform: rotate(-2deg);
  z-index: 1;
  grid-row: 1 / span 3;
  grid-column: 1 / span 7;
}

#hypothesis-test-img {
  transform: rotate(-10deg);
  grid-row: 4 / span 3;
  grid-column: 1 / span 6;
}

.about-blurb {
  display: flex;
  flex-direction: column;
}

.about-text {
  max-width: 30vw;
  text-wrap: pretty;
}

#analyze-title {
  text-align: left;
}

#design-title {
  text-align: right;
}

#design-text {
  text-align: right;
}

#code-title {
  text-align: left;
}

#create-text {
  text-align: center;
  align-self: center;
}

#create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
}

h2 {
  font-family: inherit;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.techstack-container {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  height: 10vh;
  max-width: 90%;
  align-self: center;
  align-items: center;
}

.techstack-slider {
  display: inline-flex;
  animation: 9s slide linear infinite;
  height: fit-content;
  align-items: center;
}

.techstack-icon {
  width: 64px;
  height: 64px;
  padding: 0.5em;
  box-shadow: none;
}

.lucide-circle-arrow-down {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 20vh auto;
  opacity: 0.7;
}

#projects {
  height: fit-content;
}

.section-title {
  font-family: "Inter";
  font-weight: 800;
  text-align: center;
  font-size: 2rem;
}

#projects-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  height: fit-content;
}

#project-names {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.project-name {
  width: 100%;
  font-family: "Inter";
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.3;
  padding: 1rem 0;
  transition: all 0.25s linear;
}

.project-name.focused {
  opacity: 1;
  transform: translateX(2rem);
}

#product-link:hover {
  cursor: pointer;
  transform: translateX(-5.2rem);
  transition: transform 0.25s ease-in-out;
}

#project-info-container {
  display: block;
  flex-direction: column;
  align-self: center;
  width: 50%;
  height: 60vh;
}

#project-info-img {
  display: block;
  position: relative;
  margin-left: auto;
  width: 70%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1em;
  z-index: 2;
  border: 1.5px solid black;
  transition: all 0.25s ease-out;
}

#project-info {
  display: flex;
  position: relative;
  top: -1rem;
  width: 90%;
  flex-direction: column;
  gap: 0.5em;
  padding: 2em 2em 1em 2em;

  span {
    display: inline-flex;
    gap: 0.5em;
    font-size: 0.8rem;
    font-weight: 400;
    align-items: center;
    pointer-events: none;

    .lucide {
      stroke-width: 1.7px;
      width: 1.2rem;
    }
  }
}

#project-info:hover {
  cursor: pointer;
}

#project-info-tags {
  display: inline-flex;
  gap: 0.4em;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-info-tag {
  display: inline-flex;
  gap: 0.3em;
  align-items: center;
  background-color: #9fbbe0;
  padding: 0.1em 0.6em;
  border-radius: 0.5em;
  font-size: 0.8rem;
  height: 24px;
}

#project-info-tags .project-info-tag.special {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(222, 168, 248, 1) 0%,
    rgba(168, 222, 258, 1) 21.9%,
    rgba(189, 250, 205, 1) 35.6%,
    rgba(243, 250, 189, 1) 53.9%,
    rgba(250, 227, 189, 1) 66.8%,
    rgba(248, 172, 171, 1) 95%,
    rgba(254, 170, 212, 1) 99.9%
  );
  pointer-events: auto;
  transition: all 0.25s ease-in-out;

  .lucide {
    stroke-width: 3px;
    width: 0.5rem;
  }
}

#project-info-tags .project-info-tag.special:hover {
  transform: translateY(-0.5em);
}

#project-info-description {
  display: block;
  font-size: 1rem;
}

#source-code {
  display: block;
  width: 4rem;
  position: relative;
  left: 80%;
  top: 5rem;
  transition: transform 0.3s ease-out;
}

#source-code.active {
  top: 2.7rem;
  cursor: pointer;
}

#source-code:hover {
  transform: translateY(-10%);
}

#project-info-link {
  display: inline-flex;
  align-items: center;
  width: fit-content;

  svg {
    padding: 1em 0 1em 0;
  }

  path {
    stroke-width: 2px;
    transition: all 1s cubic-bezier(0.43, 0.47, 0, 1);
  }
}
