:root {
  --color-accent: color-mix(in oklch, oklch(0.8086 0.0954 267.19), canvas 85%);
  color-scheme: light;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Regular";
  src: url("/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

body {
  font: 100%/1.5 "Figtree", sans-serif;
  margin: 0;
  background-color: #f4f3ee;
  color: #463f3a;
  overflow-y: scroll;
}

section {
  padding: 0 5vw;
  margin-bottom: 10vh;
}

#front-page {
  height: 100vh;
}

.panel {
  border-radius: 1em;
  font-family: inherit;
  background-color: rgba(188, 184, 177, 0.4);
}

#header {
  display: grid;
  justify-content: left;
  align-content: center;
  height: 80vh;
  scroll-snap-align: start;
  gap: 3em;
  width: fit-content;

  #name-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column-start: 2;
    height: 20vh;
    justify-content: space-evenly;
  }

  #fullname {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  .title {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

#avatar {
  width: 20vh;
  height: 20vh;
  border-radius: 100%;
  object-fit: cover;
  grid-column-start: 1;
}

.button-panel {
  display: flex;
  gap: 1em;
  background: transparent;

  .lucide {
    padding: 0.5em;
    stroke: #463f3a;
  }
}

#links {
  position: relative;
  flex-direction: row;
}

#navigation {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
}

.button-label {
  display: none;
}

.link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  border: 2px solid #463f3a;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#techstack {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1em;
}

h2 {
  font-family: inherit;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.techstack-container {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  height: 10vh;
  align-items: center;
}

.techstack-slider {
  display: inline-flex;
  animation: 9s slide linear infinite;
  height: fit-content;
  align-items: center;
}

.techstack-container:hover .techstack-slider {
  animation-play-state: paused;
}

.techstack-icon {
  width: 64px;
  height: 64px;
  padding: 0.5em;
}

#techstack-tooltip {
  position: absolute;
  background-color: rgba(70, 63, 58, 0.9);
  height: fit-content;
  color: #f4f3ee;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lucide-circle-arrow-down {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  opacity: 0.7;
}

#projects-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#project-names {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.project-name {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 800;
  opacity: 0.3;
  padding: 1rem 0;
}

#project-info-container {
  display: block;
  flex-direction: column;
  align-self: center;
  width: 50%;
  visibility: hidden;
}

#project-info-img {
  display: block;
  position: relative;
  margin-left: auto;
  width: 70%;
  object-fit: cover;
  border-radius: 1em;
  z-index: 2;
  border: 1.5px solid black;
}

#project-info {
  display: flex;
  position: relative;
  top: -1rem;
  width: 90%;
  flex-direction: column;
  gap: 0.5em;
  padding: 2em 1em;
  justify-content: space-evenly;

  span {
    display: inline-flex;
    gap: 0.5em;
    font-size: 0.8rem;
    font-weight: 400;
    align-items: center;

    .lucide {
      stroke-width: 1.7px;
      width: 1.2rem;
    }
  }
}

#project-info-tags {
  display: inline-flex;
  gap: 0.4em;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-info-tag {
  background-color: #BCB8B1;
  padding: 0.1em 0.6em;
  border-radius: 0.5em;
  font-size: 0.8rem;
}

#project-info-description {
  display: block;
  font-size: 1rem;
}
