:root {
  --color-accent: color-mix(in oklch, oklch(0.8086 0.0954 267.19), canvas 85%);
  color-scheme: light;
  height: 100%;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Regular";
  src: url("/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

body {
  font: 100%/1.5 "Figtree", sans-serif;
  max-width: 100ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20ch;
  padding-right: 20ch;
  background-color: #f4f3ee;
  color: #463f3a;
}

#panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.panel {
  border-radius: 1em;
  font-family: inherit;
  background-color: rgba(188, 184, 177, 0.4);
}

#header {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1em;
  padding: 20vh 0 20vh 0;
  width: 100%;

  #name-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column-start: 2;
  }

  #fullname {
    margin: 0;
    font-family: "Inter Tight";
    font-size: 3rem;
    font-weight: 700;
  }

  .title {
    display: flex;
    font-family: inherit;
    flex-direction: row;
    gap: 0.2em;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

#headshot {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: cover;
  grid-column-start: 1;
}

.button-panel {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  background: transparent;

  .lucide {
    padding: 0.5em;
    stroke: #463f3a;
  }
}

#links {
  bottom: 0;
  right: 0;
}

#navigation {
  top: 0;
  left: 0;
}

.button-label {
  display: none;
}

.link {
  display: inline-flex;
  margin: 0 0.5em;
  padding: 0;
  justify-content: center;
  border: 2px solid #463f3a;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#techstack {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1em;

  #techstack-title {
    font-family: "Inter Tight";
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.techstack-container {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  height: 10vh;
  align-items: center;
}

.techstack-slider {
  display: inline-flex;
  animation: 9s slide linear infinite;
  height: fit-content;
  align-items: center;
}

.techstack-container:hover .techstack-slider {
  animation-play-state: paused;
}

.techstack-icon {
  width: 64px;
  height: 64px;
  padding: 0.5em;
}

#techstack-tooltip {
  position: absolute;
  background-color: rgba(70, 63, 58, 0.9);
  height: fit-content;
  color: #f4f3ee;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}